.Listcontainer{
    width: 250px;
    height: 320px;
    background: none;
    top: 50%;
    left: 50%;

    margin: 1rem;
  
  }
  
  /* THE CARD HOLDS THE FRONT AND BACK FACES */
  .ListCard{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
    text-align: center;

    &__image{
      opacity: 0.5;
    }
    
    &__front{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      backface-visibility: hidden;
      overflow: hidden;
      color: #000;
      opacity: 0.87;
      text-align: center;
      
      &--title {
        position: relative;
        text-align: center;
        color: white;
        z-index: 100;
      }
    }
    

    &__front h1 {
      font-family: 'zilla slab', sans-serif;
      padding: 30px;
      font-weight: bold;
      font-size: 24px;
      text-align: center;
    }
    
    &__front p {
      font-family: 'zilla slab', sans-serif;
      padding: 30px;
      font-weight: normal;
      font-size: 12px;
      text-align: center;
    }

    &__back{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      backface-visibility: hidden;
      overflow: hidden;
      background: #fafafa;
      color: #333;
      text-align: center;
      transform: rotateY(180deg);
    }

    &__back h1 {
      font-family: 'zilla slab', sans-serif;
      padding: 30px;
      font-weight: bold;
      font-size: 24px;
      text-align: center;
    }

    &__back p {
      font-family: 'zilla slab', sans-serif;
      padding: 30px;
      font-weight: normal;
      font-size: 12px;
      text-align: center;

    }
  }
  
  /* THE PSUEDO CLASS CONTROLS THE FLIP ON MOUSEOVER AND MOUSEOUT */
  .ListCard:hover{
    transform: rotateY(180deg);
  }

.stars-outer {
  position: relative;
  display: inline-block;
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-outer::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #ccc;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #f8ce0b;
}


