div {
  border-color: red;
}

.well{
  border: 5px solid springgreen;
  margin: .5rem;
  padding: 2rem;
  width: 12rem;
  height: 15rem;
  display: flex;
  flex-wrap: wrap;
}
.imges{
  width:  11rem;
  height: 10rem;
}
.hmm{
  display: flex;
  flex-wrap: wrap;
}